*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

#logo-png{
    width: 75px;
    vertical-align: middle;
   
    
}

#font-header{
    
    font-size: 50px;
    vertical-align: middle;
}



#main{
    background-color: rgba(236, 236, 236, 1);
    padding-top: 50px;
    padding-bottom: 25px;
}


.container{
    width: 70%;
    margin: auto;
    
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px solid rgba(236, 236, 236, 1);
}




.classediv{
    padding: 10px;
}



/*BOTTONI*/

#botton-1{
    width: auto;
    height: auto;
    border: 2px solid dodgerblue;
    background-color:dodgerblue;
    border-radius: 4px;
    padding: 10px;
    color: white;
    
    
}
#botton-2{
    width: auto;
    height: auto;
    border: 2px solid lightgrey;
    border-radius: 4px;
    padding: 10px;
    color: lightgrey;
}










/*CHECK&CROSS*/
.spunta{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 2px;


}

.cross{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    padding: 2px;


}

/*ELLISSI*/


.ellisse{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: small;


}

.blu{
    
    background-color:dodgerblue;
}

.viola{
    
    background-color:blueviolet;
}

.verde{
    
    background-color:forestgreen;
}

.arancio{
    
    background-color:orange;
}


.rosa{
    
    background-color:fuchsia;
}

.verdechiaro{
    
    background-color:greenyellow;
}